Objective:
	
	1) Provide a new experience where users can select what audio clips they want in their soundboards.
	
	2) Deliver a quality product using the software process.
	
	3) Use the standard tool available in .NET framework.
	
Requirements:

	PLAY AUDIO CLIPS - Simply select the clip you would like to play from the current collection of audio clips.
	
	ORGANIZE CLIPS - Organize clips by included methods of organization.
	
		ORGANIZE BY
		
			GROUPING
		
			FAVORITE
			
			HISTORY
			
			ALL
	
	DATA STORAGE - The user is given the ability to delete or add clips to manage disk space.
	
		REMOVE CLIP - If the users decides the clip is taking up too much disk space he/she can delete it, but still retain his/her ownership and can download it again later at no charge. 
			  
		DOWNLOAD CLIP - The users has the ability to browse and download new clips from the built in store.
		
	SHARE CLIPS - Use the functionality built into Windows Phone to share a clip that a user has in his/her current collection.
	
	SECURITY - The system will support users in order to keep track of ownership of clips.
	
	CONTENT REQUESTS - The ability to use a form in the App to request new content.
	
		TRACKING - Follow the most requested content until it is accepted into the store.
		
		SEARCH - Check to see if they content you are about to request has been requested already and increment it rather than make duplicate entries.
	
	PURCHASE / REMOVE ADS 
	
	INTRO / FIRST USE - show new users all the features on the first use.
	
	TUTORIAL
	
	ABOUT
	
		VIEW MY OTHER APPS
		
		DISCLAIMER
		
		CONTACT
				
				FEEDBACK
					
					RATE 
					
					REPORT ISSUES / IMPROVEMENTS
				
				CONTACT ME
				
				UPDATES
				
				SOCIAL MEDIA - Link to social networks ( Facebook, Twitter, Website )

	PERFORMANCE - The application will demonstrate specific performance requirements listed when applicable by feature.
		
	
	
	
	
	
	
