Objective:
	
	1) Provide a new experience where users can select what audio clips they want in their soundboards.
	
	2) Deliver a quality product using the software process.
	
	3) Use the standard tool available in .NET framework.
	
Requirements:

	PLAY AUDIO CLIPS - Users can select the clips they would like to play from the current collection of audio clips.
			
	CATEGORY - a category contains groups or subgroups. 
	
	GROUP - a group contains subgroups.
	
	SUBGROUP - a subgroup contains clips.
	
	CLIP - a clips contains a file path to a audio clip
	
	HISTORY - The app will contain a pivot with a group of clips played chronologically starting with most recent at the top then descending.
	
	FAVORITES - The app will contain a pivot with a group of clips selected by the users.
	
	REMOVE CLIP - Users can delete clips. Note: User still retain ownership of the clip and can download it again later at no charge. 
	
	PREVIEW CLIP - Users can press and hold a clip, a preview will be displayed with the transcript and a play button. If the users doesn't own the clip, selecting or pressing and holding the clip with have the same result, but the option to purchase and download the clip will replace the option to play. 
	
	ADD CLIP FROM CLIP STORE - Users will have access to the Clip Store where they can download new clips not included in the original app.
		
	SHARE CLIPS - Users can share the clips in their collection using the built in sharing functionality in Windows Phone 8.
	
	SECURITY - Users will be assigned an ID and Password in order to assign access to clips in the Clip Store.
	
	CONTENT REQUESTS - Users can request new content in the Clip Store.
	
		FORM REQUEST - Users can use forms in the app to request new content.
		
		TRACKING - Users can see all requested content.
		
	
	PURCHASE / REMOVE ADS 
	
	INTRO / FIRST USE - Users will see an introduction on their first use.
	
	TUTORIAL
	
	ABOUT
	
		VIEW MY OTHER APPS
		
		DISCLAIMER
		
		CONTACT
				
				FEEDBACK
					
					RATE 
					
					REPORT ISSUES / IMPROVEMENTS
				
				CONTACT ME
				
				UPDATES
				
				SOCIAL MEDIA - Link to social networks ( Facebook, Twitter, Website )

	PERFORMANCE - The application will demonstrate specific performance requirements listed when applicable by feature.
		
	
	
	
	
	
	
