Objective:
	
	1) Provide a new experience where users can select what audio clips they want in their soundboards.
	
	2) Deliver a quality product using the software process.
	
	3) Use the standard tool available in .NET framework.
	
Functional Requirements:

	Play audio clips
	Organize Clips
		Organize By
			Movie
			Favorite
			History
		Don't Organize
	
	DATA STORAGE - The user is given the ability to delete or add clips to preserve disk space.
	
		REMOVE CLIP - If the users decides the clip is taking up too much disk space he/she can delete it, but still retain his/her ownership and can download it again later at no charge. 
			  
		DOWNLOAD CLIP - The users has the ability to browse and download new clips from the built in store.
		
	Share Clips
		Use the built in functionality
	Remove Ads / Purchase
	Intro / First use
		show new users all the features on the first use.
	Tutorial
	About
		View my other Apps
		Disclaimer
		Contact
			What
				Feedback
					Rate / Like this App?
					Report issues / improvements
				Questions
				Updates
				Social Media
				Other
			How
				Facebook
				Twitter
				Email
				Website

	
	
	
	
	
	
	
